<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>DysonMenuBar</string>
	<key>CFBundleIdentifier</key>
	<string>community.dyson.macos-controller</string>
	<key>CFBundleName</key>
	<string>Dyson Menu Bar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Dyson Controller uses your local network to find and control your Dyson device.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dyson_mqtt._tcp</string>
	</array>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
